* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1;
  font-size: 100%;
  background-color: #f7f7f7;
}

.splash-screen{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background: radial-gradient(circle at 30% 107%, #FDF497 0%, #FDF497 5%, #FD5949 45%, #D6249F 60%, #285AEB 90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 43px;
  height: 43px;
  background-color: transparent;
  border: 5px solid white;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-big {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 5px solid white;
  border-radius: 50%;
}

.circle-small {
  width: 6.5px;
  height: 6.5px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
}

.sticky-footer {
  position: fixed;
  bottom: 0px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 8;
  height: 50px;
}


.animatable.fade-out-active {
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  overflow: hidden;
  animation-name: fadeOut;
}

.animatable.fade-out-after {
  opacity: 0;
}

.animatable.fade-out-before {
  opacity: 1
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}